@using Volo.Abp.Identity.Localization
@inject AbpBlazorMessageLocalizerHelper<IdentityResource> LH

@if (IdentitySettings != null)
{
    <Form id="IdentitySettingEditForm">
        <Validations @ref="@IdentitySettingValidation" Model="@IdentitySettings" ValidateOnLoad="false">
            <Row>
                <Column>
                    <h4>@L["PasswordSettings"]</h4>
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["DisplayName:Abp.Identity.Password.RequiredLength"]</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@IdentitySettings.Password.RequiredLength">
                                <ChildContent>
                                    <FieldHelp>@L["Description:Abp.Identity.Password.RequiredLength"]</FieldHelp>
                                </ChildContent>
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["DisplayName:Abp.Identity.Password.RequiredUniqueChars"]</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@IdentitySettings.Password.RequiredUniqueChars">
                                <ChildContent>
                                    <FieldHelp>@L["Description:Abp.Identity.Password.RequiredUniqueChars"]</FieldHelp>
                                </ChildContent>
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.Password.RequireNonAlphanumeric">
                            @L["DisplayName:Abp.Identity.Password.RequireNonAlphanumeric"]
                            <FieldHelp>@L["Description:Abp.Identity.Password.RequireNonAlphanumeric"]</FieldHelp>
                        </Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.Password.RequireLowercase">
                            @L["DisplayName:Abp.Identity.Password.RequireLowercase"]
                            <FieldHelp>@L["Description:Abp.Identity.Password.RequireLowercase"]</FieldHelp>
                        </Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.Password.RequireUppercase">
                            @L["DisplayName:Abp.Identity.Password.RequireUppercase"]
                            <FieldHelp>@L["Description:Abp.Identity.Password.RequireUppercase"]</FieldHelp>
                        </Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.Password.RequireDigit">
                            @L["DisplayName:Abp.Identity.Password.RequireDigit"]
                            <FieldHelp>@L["Description:Abp.Identity.Password.RequireDigit"]</FieldHelp>
                        </Check>
                    </Field>
                </Column>
            </Row>
            <hr class="my-4" />
            <Row>
                <Column>
                    <h4>@L["LockoutSettings"]</h4>
                    
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.Lockout.AllowedForNewUsers">
                            @L["DisplayName:Abp.Identity.Lockout.AllowedForNewUsers"]
                            <FieldHelp>@L["Description:Abp.Identity.Lockout.AllowedForNewUsers"]</FieldHelp>
                        </Check>
                    </Field>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["DisplayName:Abp.Identity.Lockout.LockoutDuration"]</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@IdentitySettings.Lockout.LockoutDuration">
                                <ChildContent>
                                    <FieldHelp>@L["Description:Abp.Identity.Lockout.LockoutDuration"]</FieldHelp>
                                </ChildContent>
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["DisplayName:Abp.Identity.Lockout.MaxFailedAccessAttempts"]</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@IdentitySettings.Lockout.MaxFailedAccessAttempts">
                                <ChildContent>
                                    <FieldHelp>@L["Description:Abp.Identity.Lockout.MaxFailedAccessAttempts"]</FieldHelp>
                                </ChildContent>
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericEdit>
                        </Field>
                    </Validation>
                </Column>
            </Row>
            <hr class="my-4" />
            <Row>
                <Column>
                    <h4>@L["SignInSettings"]</h4>
                            
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.SignIn.RequireConfirmedEmail">
                            @L["DisplayName:Abp.Identity.SignIn.RequireConfirmedEmail"]
                            <FieldHelp>@L["Description:Abp.Identity.SignIn.RequireConfirmedEmail"]</FieldHelp>
                        </Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.SignIn.EnablePhoneNumberConfirmation">
                            @L["DisplayName:Abp.Identity.SignIn.EnablePhoneNumberConfirmation"]
                            <FieldHelp>@L["Description:Abp.Identity.SignIn.EnablePhoneNumberConfirmation"]</FieldHelp>
                        </Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.SignIn.RequireConfirmedPhoneNumber">
                            @L["DisplayName:Abp.Identity.SignIn.RequireConfirmedPhoneNumber"]
                            <FieldHelp>@L["Description:Abp.Identity.SignIn.RequireConfirmedPhoneNumber"]</FieldHelp>
                        </Check>
                    </Field>
                </Column>
            </Row>
            <hr class="my-4" />
            <Row>
                <Column>
                    <h4>@L["UserSettings"]</h4>
                                    
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.User.IsEmailUpdateEnabled">
                            @L["DisplayName:Abp.Identity.User.IsEmailUpdateEnabled"]
                            <FieldHelp>@L["Description:Abp.Identity.User.IsEmailUpdateEnabled"]</FieldHelp>
                        </Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@IdentitySettings.User.IsUserNameUpdateEnabled">
                            @L["DisplayName:Abp.Identity.User.IsUserNameUpdateEnabled"]
                            <FieldHelp>@L["Description:Abp.Identity.User.IsUserNameUpdateEnabled"]</FieldHelp>
                        </Check>
                    </Field>
                </Column>
            </Row>
            <hr class="my-4" />
        </Validations>
        <Row>
            <Column>
                <Button form="IdentitySettingEditForm" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Color="Color.Primary" Clicked="UpdateSettingsAsync">@L["Save"]</Button>
            </Column>
        </Row>
    </Form>
}